@model IEnumerable<EntityLayer.Concrete.Plane>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UntakenSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UntakenSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteID)
            </td>
            <td>
                    <a asp-controller="Plane" asp-action="EditPlane" asp-route-id="@item.PlaneID" method="post" class="btn btn-info">Edit</a>
                <a asp-action="Details" asp-route-id="@item.PlaneID">Details</a> |
                    <a asp-controller="Plane" asp-action="DeletePlane" asp-route-id="@item.PlaneID" method="post" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
